{% extends 'base.html' %}

{% block content %}
  <h2>Employee-Department Assignment</h2>
  <table class="w3-table-all">
    <tr>
      <th>Employee</th>
      <th>Department</th>
      <th>Re-assign</th>
    </tr>
    {% if assignments %}
      {% for assignment in assignments %}
      <tr>
        <td>{{ assignment.employee }}</td>
        <td>{{ assignment.department }}</td>
        <td><a href='edit/{{ assignment.employee.id }}'>Re-assign</a></td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>No assignments found.</tr>
    {% endif %}
  </table>
{% endblock %}

